.alinharRotulos {
    text-align: center;
}
.alinhaBtns {
    width:30%;
    background-color: black;
    color:white;
    border:0px;
    padding:5px;
    border-radius: 5px;
    cursor: pointer;
}
.enfermeiro {
    width:200px; 
    float:center;
}
.enfermeiro p {
    display: inline;
}
table {
    clear:both; 
    background-color: rgb(143, 133, 155);
    border-radius: 20px; 
    color:white;
    padding:20px;
    width:600px;
    height: 150px;
    margin:auto;
  
}
caption {
    color:rgb(241, 241, 241); 
    font-weight: bold; 
    font-size: 25px;
    text-align: center;
}